#customer_alter
	max-width 600px
	width 600px
	.md-content
		padding-bottom 40px
		h3
			position relative
			background #C8BFE7
			color #fff
			font-size 20px
			border-radius 0px
			span
				position absolute
				width 20px
				height 20px
				right 5px
				top 5px
				font-size 16px
				cursor pointer
				&:hover
					color #ED1C24
		.body
			padding 15px
			min-height 300px
			max-height 460px
			overflow auto
			color #444
			
			>div
				margin-bottom 15px
				text-align center
				position relative
				label
					font-weight normal
					font-size 16px
					margin-right 15px
				input
				select
					width 230px
					height 30px
					border 1px solid #ccc
					padding 3px 10px
					outline none !important
					color #666
					font-size 14px
				.btn
					display inline-block
					&.searchBtn
						position absolute
						padding 0px
						height 24px
						line-height 24px
						width 36px
						margin 0px
						text-align center
						left 405px
						top 3px
						&.loading
							background #8E44AD
							img
								margin-top -8px
								width 36px
								height 24px
					&.submit
						margin-left 88px
						width 230px
				.help-block
					font-size 13px
					text-indent 25px
					padding-bottom 0px
				
				ul.usersBox
					position absolute
					left 214px
					top 30px
					z-index 30
					width 230px
					min-height 100px
					max-height 200px
					overflow-y auto
					border 1px solid #ccc
					background #fff
					padding 0px
					li
						text-align left
						font-size 13px
						color #666
						padding 2px 5px
						&:hover
						&.active
							background #ddd
							color #27c489
							cursor default
				&.url
					p
						width 350px
						display inline-block
						word-break break-all
						padding 0px
						margin-left 211px
						font-size 13px
						text-align left	
						a
							color #666
							text-decoration none
							&:hover
								text-decoration underline	
						span
							color #EB2F36	
							text-decoration underline
							cursor pointer
							&:hover
								color #F6030C	
	
					
					
			
				
			