@import 'nib'
.root
	.hSideBox
		width 200px
		position fixed
		left 0px
		top 0px
		height 100%
	.hBodyBox
		position relative
		top 0px
		left 0px
		padding-left 200px
		width 100%
		padding-top 60px
		min-height 100%