.history
	.search
		padding-bottom 10px
		label
			margin-right 30px
			color #555
			font-weight normal
			select,
			input
				font-size 13px
				width 200px
				padding 3px 13px
				border 1px solid #ccc
				outline none !important
				color #777
				font-weight normal

	table
		th
			text-align center
			background #fa787d
			color #fff
			font-weight normal
		td
			text-align center
		tr
			td
				a.btn
					width 70px
					height 28px
					line-height 28px
					padding 0px
					margin 0px
					background #b3dbbf
					border 1px solid #94d3a7
					color #333
					font-size 13px
			&.able
				td
					color #444							
			&.disable
				td
					color #aaa
			&.success
				td
					color #27c489
			&.empty
				td
					height 300px
					line-height 300px
					color #FF7F27