#classroom_alter
	max-width 800px
	width 800px
	.md-content
		padding-bottom 40px
		h3
			position relative
			background #C8BFE7
			color #fff
			font-size 20px
			border-radius 0px
			span
				position absolute
				width 20px
				height 20px
				right 5px
				top 5px
				font-size 16px
				cursor pointer
				&:hover
					color #ED1C24
		.body
			padding 15px
			min-height 300px
			max-height 460px
			overflow auto
			table
				tr
					
					th
						color #000
						text-align center
						font-weight normal
						font-size 14px
					td
						color #222
						text-align center
						font-size 13px
					&.active
						td
							color #22B14C
					&.empty
						td
							height 300px
							line-height 300px
		
