#teacher_alter
	max-width 760px
	width 760px
	h3
		position relative
		background #0099CC
		color #fff
		font-size 20px
		border-radius 0px
		span
			position absolute
			width 20px
			height 20px
			right 5px
			top 5px
			font-size 16px
			cursor pointer
			&:hover
				color #ED1C24
	.body
		color #444
		padding 0px 10px
		border-bottom 1px solid #ccc
		>div
			padding 0px 10px
		.wrap
			height 300px
			padding 5px
			overflow-y auto
			&.wrap1
				padding-right 20px
				border-right 1px solid #ccc
				h4
					font-size 16px
					color #444
				table
					tr
						th
							text-align center
							font-size 14px
							color #444
							font-weight normal
						td
							text-align center
							font-size 13px
							color #777
							&:nth-of-type(4)
								span 
									color #ED1C24
									text-decoration underline
									&:hover
										cursor pointer
						&.empty
							td
								height 150px
								line-height 150px
			&.wrap2
				>div
					margin-bottom 20px
				select
					width 100%
					padding 5px
					font-size 13px
					border 1px solid #ccc
					outline none !important
					border-radius 2px
				.btn
					margin-top 60px
					width 100%
					padding 7px 0px
					font-size 15px
	.backBox
		.btn
			padding 5px 20px
					

			
			