#schedule_plan_alter
	max-width 860px
	width 860px
	h3
		position relative
		background #fa787d
		color #fff
		font-size 20px
		border-radius 0px
		span
			position absolute
			width 20px
			height 20px
			right 5px
			top 5px
			font-size 16px
			cursor pointer
			&:hover
				color #ED1C24
	.body
		padding 10px 
		p
			color #444
			padding 6px 0px
			text-align center
			
			span
				display inline-block
				width 60px
			select
			input
				width 200px
				height 30px
				border 1px solid #ccc
				outline none
				padding-left 10px
				font-size 14px
			._hselect 
				ul
					padding 0px
					li
						padding 3px 5px
						text-align left
		table
			td
			th
				font-size 13px
				color #444
				text-align center
				span
					color #fa787d
					text-decoration underline
					cursor pointer
					&:hover
						color red
		
				
	.backBox
		.btn
			margin-right 10px
